.activity{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(7,1fr);
   grid-template-areas: 
   "recentactivity"
   "activitydata1"
   "activitydata2"
   "activitydata3"
   "activitydata4"
   "activitydata5"
   "activitydata6" ;
   font-size: 12px;
}
.recentactivity{
    grid-area: recentactivity;
    font-size: 20px;
    font-weight: bold;
}
.activitydata1{
    grid-area:activitydata1;
}
.activitydata2{
    grid-area:activitydata2;
}
.activitydata3{
    grid-area:activitydata3;
}
.activitydata4{
    grid-area:activitydata4;
}
.activitydata5{
    grid-area:activitydata5;
}
.activitydata6{
    grid-area:activitydata6;
}

.timebar{
    border-radius: 10px;
    background-color: rgb(250,250,250);
    text-align: left;
    padding: 5px;
    margin: 10px;

}
.in{
    color: #fff;
    background-color:#be0909;
    padding: 2px;
    font-size: 0.7em;
    text-align: center;
}
.out{
    color:#fff;
    background-color:#0909be;
    font-size: 0.7em;
    text-align: center;
    padding: 2px;
}