.activity{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(7,1fr);
   grid-template-areas: 
   "title"
   "act1"
   "act2"
   "act3"
   "act4"
   "act5"
   "act6" ;
   font-size: 12px;
}
.act{
    grid-area: title;
    font-size: 20px;
    font-weight: bold;
}
.act1{
    grid-area: act1;
}
.act2{
    grid-area: act2;
}
.act3{
    grid-area: act3;
}
.act4{
    grid-area: act4;
}
.act5{
    grid-area: act5;
}
.act6{
    grid-area: act6;
}

#timebar{
    border-radius: 10px;
    background-color: rgb(250,250,250);
    text-align: left;
    padding: 5px;
    margin: 10px;

}
.in{
    color: #fff;
    background-color:#be0909;
    padding: 2px;
    font-size: 0.7em;
    text-align: center;


}
.out{
    color:#fff;
    background-color:#0909be;
    font-size: 0.7em;
    text-align: center;
    padding: 2px;
  
}