.menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: max-content;
    grid-column-gap: 10px;
    grid-template-areas:
    "checkinclock checkoutclock overtimeclock dayoffclock";
    padding: 20px;
    margin: 100px;
}
.checkin{
    grid-area: checkinclock;
}
.checkout{
    grid-area: checkoutclock;
}
.overtime{
    grid-area: overtimeclock;
}
.dayoff{
    grid-area: dayoffclock;
}

.clock{
    border-radius: 10px;
    background-color: rgb(250,250,250);
    text-align: center;
}