.container{
    box-sizing: border-box;
    height: 100vh;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 9fr 5fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-template-areas: 
    "toolbar main calendar";
   
  }
  .toolbar{
    grid-area: toolbar;
  }
  .main{
    grid-area: main;
  }
  .calendar{
    grid-area: calendar;
  }
  
  
  