*{
  box-sizing: border-box;

}
body{
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f3f3f3;
  color: rgb(10,20,110);
}

.container{
  box-sizing: border-box;
  height: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 2fr 9fr 5fr;
  grid-template-rows: 100%;
  gap: 30px 30px;
  grid-template-areas:
    "toolbar main calendar";

}
.toolbar{
  grid-area: toolbar;
}

.calendar{
  grid-area: calendar;
}
.main{
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr 4fr;
  gap: 20px 20px;
  grid-template-areas:
    "title"
    "menu"
    "content";
}
.header{
  grid-area: title;
  display: grid;
  align-items: end;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding: 15px;
}

.menu{
  grid-area: menu;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 100%;
  gap: 20px 20px;
  grid-template-areas:
    "checkinlock checkoutclock overtimeclock dayoffclock";
}
.content{
  grid-area: content;
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 100%;
  gap: 0px 30px;
  grid-template-areas:
    "activity statistic";
}

